<div class="head">
  <div class="title">
    {{title}}
  </div>
  <div class="search">
    <input type="text" matInput  placeholder="搜索会议关键词" [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" [routerLink] = '["/meeting/detail",option._id]'>
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    <button type="buttom" mat-button class="search_button">
      <i class="iconfont icon-search"></i>
    </button>
    <!-- <button type="buttom" mat-button class="msg">
      <i class="iconfont icon-xiaoxi1"></i>
      <span>消息</span>
    </button> -->
  </div>
  <div class="time">
    {{time}}
  </div>
</div>
